<h2>Test</h2>
<a href="/add">添加留言</a>
<form method='get' action="/">
	<select name='select'>
		<option value="id">ID</option>
		<option value="author" selected='selected'>Author</option> 
	</select>
	<input type='text' name="value">
	<input type='submit' value='查询'>
</form>
<table>
	<tr>
		<th>author</th>
		<th>message</th>
	</tr>
<% if not @info.nil? %>
<% @info.each do |info| %>
	<% msg = Message.new(File.join("messages","#{info}.txt")) %>
	<tr>
		<td>
			<%= msg.author %>	
		</td>
		<td>
			<%= msg.message %>
		</td>
		<td>
			<form method="post" action="/delete/<%= msg.id %>">
				<input type="submit" value="delete">
			</form>
		</td>
	</tr>
<% end %>
<% end %>
<%= @error %>
</table>
