<footer class="footer">
  <small>
    The <a href="#">MicBlog Website</a>
    by <a href="#">Payne Day</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "反馈", "#" %></li>

    </ul>
  </nav>
</footer>