<h2>添加留言</h2>
<form class="form" method="POST" action="/add">
	<div class='foem-group'>
		<label>添加留言</label>
	</div>
	<div class="form-group">
		<textarea class=="form-control" placeholder="留言不得少于10个字" name="message"></textarea>
	</div>
	<button type="submit" class="btn btn-default">添加</button>
</form>
<div class="error">
<%= @error %>
</div>
<a class="" href="/"><button class="btn btn-link">返回首页</button></a>
