<div class='container register col-sm-4 col-sm-offset-4'>
<form method='post' action='/register'>
	<div class='form-group'>
		<label>用户名</label>
		<input class='form-control' type="text" name="username">
	</div>
	<div class='form-group'>
		<label>密码</label>
		<input class='form-control' type="text" name="password">
	</div>
	<div class='form-group'>
		<label>确认密码</label>
		<input class='form-control' type="text" name="confirm">
	</div>
	<button class='btn btn-default' type='submit'>注册</button>
</form>
<a href="/login">已有账号？登陆</a>
</div>
